#.vscode folder
.vscode

#executable
/build/player

#not ready
/headers/TBase.h
/headers/TCatapult.h
/headers/TPikeman.h
/headers/TRam.h
#/headers/TSwordsman.h
/headers/TWorker.h
/sources/TBase.cpp
/sources/TCatapult.cpp
/sources/TPikeman.cpp
/sources/TRam.cpp
#/sources/TSwordsman.cpp
/sources/TWorker.cpp

### exec ###
**/build/player**
