#.vscode folder
.vscode

#executable
/build/player

#not ready
/headers/TMediator.h
/sources/TMediator.cpp
/sources/mediator.cpp

### exec ###
**/build/player**

#orders file
orders.txt

#player files
Player*.txt
player*.txt